.header {
    padding: 1rem;
    /* display: flex; */
    justify-content: center;
}

.a {
    background-color: rgb(137, 100, 51);
    color: rgb(168, 161, 152);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
}

.a:hover,
.a:active,
.a.active {
    background-color: rgb(84, 61, 29);
    ;
}