.button {
    background-color: #af784c;
    border: none;
    color: white;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    margin: 0.3rem;

  }

  .button:hover,
  .button:active {
    background-color: #8d623e;
  }